In [1]:
import pandas as pd 
import numpy as np 
import catboost
import psycopg2

from sqlalchemy import create_engine

In [2]:
conn_string = "host = 'db' dbname = 'postgres' user = 'postgres'"
conn = psycopg2.connect(conn_string)

In [3]:
cursor = conn.cursor()

In [4]:
df = pd.read_csv('stores.csv')
df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [6]:
engine = create_engine('postgresql://postgres@db:5432/postgres')

In [8]:
cursor.execute('drop table stores')
cursor.execute('commit')

In [9]:
df.to_sql('stores', engine)

45

In [7]:
df_pg = pd.read_sql_query('select * from stores', con=engine)

In [8]:
df_pg.head()

   index  Store Type    Size
0      0      1    A  151315
1      1      2    A  202307
2      2      3    B   37392
3      3      4    A  205863
4      4      5    B   34875